---
layout: null
---
<head>
  <meta charset="utf-8">
  <title>Ahmad Baracat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="I'm a software engineer with great interest for design and cognitive psychology. I have published 10+ apps/games for Windows Phone, Android & iOS used by 300K+ users and featured by Microsoft in 150+ countries." />
  <meta property="fb:admins" content="900430528">
  <meta property="og:site_name" content="Ahmad Baracat">
  <meta property="og:title" content="Ahmad Baracat">
  <meta property="og:description" content="I'm a software engineer with great interest for design and cognitive psychology. I have published 10+ apps/games for Windows Phone, Android & iOS used by 300K+ users and featured by Microsoft in 150+ countries.">
  <meta property="og:type" content="profile">
  <meta property="og:locale" content="en_US">
  <meta property="og:url" content="http://ahmedbaracat.com">
  <meta property="profile:first_name" content="Ahmad">
  <meta property="profile:last_name" content="Baracat">
  <meta property="profile:gender" content="male">

</head>

<body>
  <header>
    <h1>Ahmad Baracat</h1>
    <div class="sections">
      <a href="https://eg.linkedin.com/in/ahmedbaracat" target="_blank" rel="external nofollow">
        <i class="icon-linkedin" aria-hidden="true"></i>
      </a>
      <a href="https://angel.co/baracat" target="_blank" rel="external nofollow">
        <i class="icon-angellist" aria-hidden="true"></i>
      </a>
      <a href="https://github.com/ahmedbaracat" target="_blank" rel="external nofollow">
        <i class="icon-github" aria-hidden="true"></i>
      </a>
      <a href="https://twitter.com/Baracat_WP7" target="_blank" rel="external nofollow">
        <i class="icon-twitter" aria-hidden="true"></i>
      </a>
    </div>

    <div class="sections">
      <a href="https://dl.dropboxusercontent.com/u/22720348/AhmedBaracat_Resume.pdf" target="_blank" rel="external nofollow">Résumé</a>
      <a href="#apps">Apps & Games</a>
      <a href="#experiments"> Experiments</a>
      <a href="#reading">Reading</a>
    </div>

  </header>
  <section class="home">
    <h2>
      Hello
    </h2>
    <p>
      I'm a software engineer with great interest for design and cognitive psychology. I have published 10+ apps/games for Windows Phone, Android & iOS used by 300K+ users and featured by Microsoft in 150+ countries.
    </p>

    <h2 id="apps">
      Apps & Games
    </h2>

    <ul class="apps">
      {% for app in site.data.apps %}
      <li>
        <div class="appContainer">
          <div class="appLeftColumn">
            <img class="appIcon" src="{{ app.icon }}" alt="{{ app.name }}">
          </div>

          <div class="appRightColumn">
            <div class="appTitle">
              {{ app.name }}
              <span>
                ({{ app.year }})
              </span>
              {% if app.users%}
              <span>
                [{{ app.users }}]
              </span>
              {% endif %}
            </div>

            {% if app.description%}
            <div class="appDescription">
              {{ app.description }}
            </div>
            {% endif %}

            {% if app.achievements%}
            <div class="appAchievements">
              {% for achievement in app.achievements %}
              <div class="appAchievement">
                ● {{ achievement.text}}
              </div>
              {% endfor %}
            </div>
            {% endif %}

            {% if app.media%}
            {% for media in app.media %}
            <div class="appMedia">
              <a href="{{ media.url }}" target="_blank" rel="external nofollow">{{media.title}}</a>
            </div>
            {% endfor %}
            {% endif %}

            <div class="appDownload">
              {% if app.notInAStore%}
              <img class="aDownloadBadge inactive" src="assets/AppleBadge.svg" alt="Get it on the Apple Store"/>
              {% elsif app.aUrl%}
              <a href="{{ app.aUrl }}" target="_blank" rel="external nofollow"><img class="aDownloadBadge" src="assets/AppleBadge.svg" alt="Get it on the Apple Store"  /></a>
              {% endif %}

              {% if app.pUrl%}
              <a href="{{ app.pUrl }}" target="_blank" rel="external nofollow"><img class="pDownloadBadge" src="assets/AndroidBadge.png" alt="Get it on Google Play"  /></a>
              {% endif %}

              {% if app.notInWStore%}
              <img class="wDownloadBadge inactive" src="assets/W10Badge.png" alt="Get it on Windows 10" />
              {% elsif app.wUrl%}
              <a href="{{ app.wUrl }}" target="_blank" rel="external nofollow"><img class="wDownloadBadge" src="assets/W10Badge.png" alt="Get it on Windows 10" /></a>
              {% endif %}
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>

      <h2 id="experiments">
        Experiments
      </h2>
      <p>
        Write about Magmul...
      </p>

      <h2 id="reading">
        Reading
      </h2>
      <div class="pinterest">
        <a  data-pin-do="embedBoard" href="https://www.pinterest.com/ahmedbaracat/what-ive-read/"data-pin-scale-width="100" data-pin-scale-height="200" data-pin-board-height="600">        Follow ahmed's board What I've Read on Pinterest.</a>
        <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
      </div>
    </section>
    <footer>
      <p>© 2016 <a href="/" rel="home">Ahmad Baracat</a></p>
      <link rel="stylesheet" type="text/css" href="css/main.css">
      <link rel="stylesheet" type="text/css" href="customFont/css/customfont.css">
    </footer>
  </body>
  </html>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>
  $(document).ready(function(){
    // Add smooth scrolling to all links
    $("a").on('click', function(event) {

      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function(){

          // Add hash (#) to URL when done scrolling (default click behavior)
          window.location.hash = hash;
        });
      } // End if
    });
  });
  </script>
  <script>
  //Google Analytics
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-89873300-1', 'auto');
  ga('send', 'pageview');

  </script>
