---
layout: null
---
<link rel="stylesheet" type="text/css" href="css/main.css">

<body>
  <header>
    <h1>Ahmed Baracat</h1>
    <div class="sections">
      <a href="">Resume</a>
      <a href="#apps">Apps & Games</a>
      <a href="#reading">Reading</a>
    </div>

    <div class="sections">
      <a href="">Github</a>
      <a href="">stackoverflow</a>
      <a href="">AngelList</a>
      <a href="">LinkedIn</a>
    </div>

  </header>
  <section class="home">
    <h2>
      Hello
    </h2>

    <p>
      I am a software engineer with great interest for design and cognitive psychology. I have published 10+ apps/games for Windows Phone, Android & iOS featured by Microsoft in 150+ countries.
    </p>

    <h2 id="apps">
      Apps & Games
    </h2>

    <ul class="apps">
      {% for app in site.data.apps %}
      <li>
        <div class="appContainer">
          <div class="appLeftColumn">
            <img class="appIcon" src="{{ app.icon }}" alt="{{ app.name }}">
          </div>

          <div class="appRightColumn">
            <div class="appTitle">
              {{ app.name }}
            </div>

            {% if app.description%}
            <div class="appDescription">
              {{ app.description }}
            </div>
            {% endif %}

            {% if app.achievement%}
            <div class="appAchievement">
              {{ app.achievement}}
            </div>
            {% endif %}

            <div>
              {% if app.aUrl%}
              <a href="{{ app.aUrl }}" target="_blank" rel="external nofollow"><img class="aDownloadBadge" src="assets/AppleBadge.svg" alt="Get it on the Apple Store"  /></a>
              {% endif %}

              {% if app.pUrl%}
              <a href="{{ app.pUrl }}" target="_blank" rel="external nofollow"><img class="pDownloadBadge" src="assets/AndroidBadge.png" alt="Get it on Google Play"  /></a>
              {% endif %}

              {% if app.notInWStore%}
              <img class="wDownloadBadge inactive" src="assets/W10Badge.png" alt="Get it on Windows 10" />
              {% elsif app.wUrl%}
              <a href="{{ app.wUrl }}" target="_blank" rel="external nofollow"><img class="wDownloadBadge" src="assets/W10Badge.png" alt="Get it on Windows 10" /></a>
              {% endif %}
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>

      <h2>Experiments</h2>
      <p>
        Write about Magmul...
      </p>

      <h2 id="reading">
        Reading
      </h2>
      <div class="pinterest">
        <a  data-pin-do="embedBoard" href="https://www.pinterest.com/ahmedbaracat/what-ive-read/"data-pin-scale-width="100" data-pin-scale-height="200" data-pin-board-height="600">        Follow ahmed's board What I've Read on Pinterest.</a>
        <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
      </div>

      <p style="text-align:center;margin:2em 0 -1em"><a href="https://twitter.com/Baracat_WP7" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @Baracat_WP7</a></p>

    </section>
    <footer>
      <p>© 2016 <a href="/" rel="home">Ahmed Baracat</a></p>
    </footer>
  </body>
  </html>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>
  $(document).ready(function(){
    // Add smooth scrolling to all links
    $("a").on('click', function(event) {

      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function(){

          // Add hash (#) to URL when done scrolling (default click behavior)
          window.location.hash = hash;
        });
      } // End if
    });
  });
  </script>
