html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time,
mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #555;
  font-family: "Whitney A", "Whitney B";
}

body {
  line-height: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:default;

  font-size: 22px;
  font-weight: 400;
  line-height: 1.5em;
  padding: 0 10px;
}

section, header, footer, nav, article, aside, figure {
  display: block;
  width: 100%;
}

html {
  -webkit-font-smoothing: antialiased;
}

@media all and (max-width: 660px) {
  body {
    font-size: 18px;
    line-height: 1.6em;
  }
}


a {
  color: #0881b3;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

a:hover {
  -webkit-transition-property: border;
  -moz-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border-bottom: 1px solid;
}

strong {
  font-weight: 600;
  font-style: normal;
}

p {
  margin: 0 0 0.5em;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
}

@media all and (max-width: 660px) {
  h1 {
    font-size: 1.5em;
  }
}

body > header h1 a, body > header h1 a:hover {
  /* color: #f6291d;*/
  border: 0;
}

h2 {
  font-size: 1em;
  font-weight: 600;
  margin: 1.5em 0 0em;
}

body > header, body > section, body > footer {
  max-width: 640px;
  margin: 0 auto;
}

body > header {
  margin: 3em auto;
}

body > header p {
  margin: 0;
}

@media all and (max-width: 660px) {
  body > header {
    margin: 2em auto 2em;
  }

  body > header p:nth-child(2) {
    margin-bottom: 1em;
  }
}

a.hire, a.hire:hover {
  color: #f6291d;
}

body > footer {
  text-shadow: #fff 0 1px 0;
  font-size: 0.8em;
  text-align: center;
  margin: 3em auto;
}

body > footer a:hover {
  color: #0881b3;
}

body > footer li {
  margin-right: 1em;
  display: inline-block;
}

body > footer li:last-child {
  margin-right: 0;
}

@media all and (max-width: 660px) {
  section.about a.portrait {
    border-width: 0;
  }
}

ul.apps {
  margin: 2em auto;
  font-size: 14px;
}

ul.apps::after {
  clear: both;
  content: "";
  display: table;
}

/*
@media all and (max-width: 660px) {
  ul.apps {
    width: 280px;
  }
}
*/
ul.apps li {
  border-radius: 20px;
  width: 100%;
  display: inline-block;
}
/*
@media all and (max-width: 660px) {
  ul.apps li {
    width: 50%;
  }
}
*/
/*
ul.apps a {
  display: block;
  width: 100px;
  height: 120px;
  line-height: 0;
  margin: 0 auto;
}
*/
/*
ul.apps a span {
  display: block;
  width: 100px;
  height: 10px;
  font-weight: 800;
  text-align: center;
  line-height: 1em;
  padding: 8px 0 0;
  color: #888;
}
*/
ul.apps a:hover {
  border: 0;
}



ul.apps .appContainer{
  /*display: flex;
  display: -webkit-flex;
*/
}

ul.apps .appRightColumn, .appLeftColumn{
/*  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction:         column;
  float: left;

*/

}

ul.apps .appLeftColumn{
  /*background-color: #FC3F1D;*/
  float: left;
  width: 20%;
}

ul.apps .appRightColumn{
  /*background-color: #4AB29E;*/
  float: right;
  width: 80%;
}

ul.apps .appIcon {
  box-sizing: border-box;
  border-radius: 20px;
  /*height: 100px;
  width: 100px;
  */
  width: 100%;
  z-index: -2;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.25);
/*  float: left;*/
  /*margin: 0.5em;*/
}

ul.apps .appTitle{
  font-weight: 800;
  text-align: left;
  line-height: 1em;
  padding: 0em 0 0 1em;
}

ul.apps .appDescription, .appAchievement{
  text-align: left;
  line-height: 1em;
  padding: 0.5em 0 0 1em;
}

ul.apps .appAchievement{
  font-style: italic;
}

ul.apps .appDownloadBadge {

  width: 35%;
  z-index: -2;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.25);
  margin: 1em;
}

a.twitter-username:before {
  content: "@";
}

.p{
  text-align: justify;
}

.pinterest
{
  margin-top: 10px;
}
